<div class="content">
        
        <h3>Title: {{book.title}}</h3>
        <p>By: {{book.author}}</p>
        <p>Date: {{date}}</p>    
        <img src="{{book.image}}" alt=""/>
        <p>Description: {{book.description}}</p> 
    </div>    