<div class="container">
    <h1 class="my-4">Course title : {{title}}
    </h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="{{imageUrl}}" alt="Express" />
        </div>
        <div class="col-md-4 text-center">
            <h3 class="my-3">Course Description</h3>
            <p>{{description}}</p>
            {{#if isEnrolled}}
                <span class="badge badge-pill badge-success">enrolled</span>
            {{else}}
                <form id="enroll-form" action="/course/course-enroll/{{_id}}" method="post"></form>
                <a href="javascript:document.getElementById('enroll-form').submit()">
                    <button type="button" class="btn btn-info">Enroll</button>
                </a>
            {{/if}}
        </div>
    </div>
        {{#if isEnrolled}}
            <h3 class="text-center">Lectures List</h3>

            <ul class="list-group">
                {{#each lectures}}
                    <li class="list-group-item">
                        <h5 class="mb-1">{{title}}</h5>
                        <span class="float-right">
                            <a onclick="window.open('{{videoUrl}}')" class="btn btn-secondary text-light">Play</a>
                        </span>
                    </li>
                {{else}}
                    <h2 class="text-center">No lectures in those course!</h2>
                {{/each}}
            </ul>
        {{else}}
            <h5 class="text-center">To get full access please enroll the course</h5>
        {{/if}}
</div>
