
 <h1>Teams</h1>
<form class="search" action="/team/searchTeam" method="POST">
  <label>Seach: </label>
  <input type="text" name="team">
  <input type="submit" value="Search">
</form>
<div class="teams">
  {{#each teams}}
    <div class="team">
      <h2>{{name}}</h2>
      <div class="team-info">
        <h3>Members</h3>
        {{#each members}}
          
          <p>{{this.firstName}} {{this.lastName}}</p>
        {{else}}
          <p>Team has no members</p>
        {{/each}}
      </div>
      <div class="team-info">
        <h3>Projects</h3>
        {{#each projects}}
          <p>{{this.name}}</p>
        {{else}}
          <p class="no-assigned">Team has no projects</p>
        {{/each}}
      </div>
    </div>
  {{else}}
    <h2 class="no-assigned">No Team assigned!</h2>
  {{/each}}
  
</div>
