<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects Manager</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link href="/global-errors/global-errors.css" type="text/css" rel="stylesheet">
</head>

<body>
    {{> header}}
    <main>
            {{#if flash}}
                {{#if flash.info}}
                <h2 class="info-msg">{{flash.info}}</h2>
                {{/if}}
                {{#if flash.success}}
                <h2 class="success-msg">{{flash.success}}</h2>
                {{/if}}
                {{#if flash.warning}}
                <h2 class="warning-msg">{{flash.warning}}</h2>
                {{/if}}
                {{#if flash.danger}}
                <h2 class="danger-msg">{{flash.danger}}</h2>
                {{/if}}
            {{/if}}

            {{{body}}}
    </main>
    {{> footer}}
</body>

</html>