<h1>My Profile</h1>
<div class="profile-box">
  <img src="{{currentUser.profilePicture}}">
  <div class="profile">
    <div class="info">
      <h3>My Teams</h3>
      {{#each teams}}
      <form action="/team/leaveTeam/{{_id}}" method="POST">
        <p>{{name}}</p>
        <input type="submit" value="Leave Team">
      </form>
      {{else}}
      <h2 class="no-assigned">You have no teams</h2>
      {{/each}}
    </div>
    <div class="more-info">
      <h3>My Projects</h3>
      {{#each myProjects}}
      <p>{{name}}</p>
      {{else}}
      <p>You have no projects!</p>
      {{/each}}
    </div>
  </div>
</div>